<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Editar Libro</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <section th:fragment="editarLibro">
            <form th:action="@{/guardar}" th:object="${libro}"
                  method="POST" class="was-validated">
                <input type="hidden" name="idLibro" th:field="*{idLibro}"/>
                
                <section th:replace="layout/botonesEditar :: botonesEditar"></section>
                
                <div id="details">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-md-8">
                                <div class="card">
                                    <div class="card-header bg-dark text-white">
                                        <h4>Editar</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="titulo">Titulo</label>
                                            <input type="text" class="form-control" name="titulo"
                                                   required="true" th:field="*{titulo}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="paginas">Paginas</label>
                                            <input type="text" class="form-control" name="paginas"
                                                   required="true" th:field="*{paginas}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="edicion">Edicion</label>
                                            <input type="text" class="form-control" name="edicion"
                                                   required="true" th:field="*{edicion}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="editorial">Editorial</label>
                                            <select class="form-control no-valid" style="appearance: none"  name="editorialLibro.idEditorial" required>
                                                <option value="" disabled selected>Seleccione una editorial</option>
                                                <option th:each="editorial : ${editoriales}"
                                                        th:value="${editorial.idEditorial}"
                                                        th:text="${editorial.nomEditorial}"
                                                        th:selected="${editorial.idEditorial} == *{editorialLibro.idEditorial}"
                                                        ></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="fecha">Fecha</label>
                                            <input type="date" class="form-control" name="fecha"
                                                   required="true" th:field="*{fechaPublicacion}"/>
                                        </div>
                                        <div class="form-group">
                                            <label for="idioma">Idioma</label>
                                            <select class="form-control no-valid" style="appearance: none" name="idiomaLibro.idIdioma">
                                                <option value="" disabled selected>Seleccione un idioma</option>
                                                <option th:each="idioma : ${idiomas}"
                                                        th:value="${idioma.idIdioma}"
                                                        th:text="${idioma.idioma}"
                                                        th:selected="${idioma.idIdioma} == *{idiomaLibro.idIdioma}"
                                                        ></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="genero">Genero</label>
                                            <select class="form-control no-valid" style="appearance: none" name="generoLibro.idGenero">
                                                <option value="" disabled selected>Seleccione un genero</option>
                                                <option th:each="genero : ${generos}"
                                                        th:value="${genero.idGenero}"
                                                        th:text="${genero.genero}"
                                                        th:selected="${genero.idGenero} == *{generoLibro.idGenero}"
                                                        ></option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="autor">Autor</label>
                                            <select class="form-control no-valid" style="appearance: none" name="autorLibro.IdAutor">
                                                <option value="" disabled selected>Seleccione un autor</option>
                                                <option th:each="autor : ${autores}"
                                                        th:value="${autor.idAutor}"
                                                        th:text="${autor.alias}"
                                                        th:selected="${autor.idAutor} == *{autorLibro.idAutor}">
                                                </option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="estado">Estado</label>
                                            <select class="form-control no-valid" style="appearance: none" name="estadoLibro.idEstado">
                                                <option value="" disabled selected>Seleccione un estado</option>
                                                <option th:each="estado : ${estadosLibro}"
                                                        th:value="${estado.idEstado}"
                                                        th:text="${estado.estado}"
                                                        th:selected="${estado.idEstado} == *{estadoLibro.idEstado}">
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
    </body>
</html>
