<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:fragment="headlinks">
        <link rel="icon" href="/library.svg"/>
        <title>LibraryID</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        <script type="text/javascript">
            function limpiar() {
                window.location.href = "/home";
            }
        </script>
        <script src="/js/logout.js"></script>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css">
    </head>
    <body style="background: linear-gradient( rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));">
        <header th:fragment="header"><!--class="mb-3"-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3">
                <a class="navbar-brand" href="/">
                    <img src="/images/library.svg" width="50" height="50" class="d-inline-block align-top" alt=""/>
                    <span class="navbar-text h4">Libreria ID</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link h5" th:href="@{/home}">Inicio <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle h5" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categorias
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="/listadolibros">Libros</a>
                                <a class="dropdown-item" href="/listadoAutores">Autores</a>
                                <a class="dropdown-item" href="/listadoPersonas">Personas</a>
                                <a class="dropdown-item" href="/listadoPrestamos">Prestamos</a>
                            </div>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0"><!--mt-5-->
                        <input class="form-control mr-sm-2 form-control-lg" type="search" name="cadena" th:value="${cadena}" placeholder="Buscar" aria-label="Search"/>
                        <button class="btn btn-outline-success my-2 my-sm-0 btn-lg" type="submit" value="buscar">Buscar</button>
                        &nbsp;&nbsp;
                        <button class="btn btn-outline-info my-2 my-sm-0 btn-lg" type="button" onclick="limpiar()">Limpiar</button>
                    </form>

                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item mr-3">
                            <a href="#" class="nav-link">
                                <ion-icon name="person-circle-sharp" style="font-size: 30px; vertical-align: middle;"></ion-icon>
                                <span>Bienvenido:</span>
                                <span th:text="${usuario}"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                                <a href="#" onclick="logout(); return false;" class="nav-link">
                                    <ion-icon name="log-out-outline" style="font-size: 30px; vertical-align: middle;"></ion-icon> Salir
                                </a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>
        <main style="background: linear-gradient( rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));" th:fragment="main">
            <div class="text-center">
                <img th:src="@{/images/library.jpg}" alt="Descripción de la imagen" class="img-fluid">
            </div>
        </main>
        <footer th:fragment="footer" class="navbar navbar-dark bg-dark text-white mt-3" ><!--mt-5-->
            <div class="container">
                <div class="col">
                    <section class="lead text-center" style="display: flex; justify-content: center;">
                        <!-- Twitter -->
                        <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #55acee; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-twitter"></i
                            ></a> 
                        <!-- Google -->
                        <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #dd4b39; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-google"></i
                            ></a> 
                        <!-- Linkedin -->
                        <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #0082ca; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-linkedin-in"></i
                            >
                        </a> 
                        <!-- Github -->
                        <a
                            data-mdb-ripple-init
                            class="btn text-white btn-floating m-1"
                            style="background-color: #333333; width: 30px; height: 30px; border-radius: 50%; display: flex; align-items: center; justify-content: center;"
                            href="#!"
                            role="button"
                            ><i class="fab fa-github"></i
                            >
                        </a>
                    </section>
                    <div class="text-center">
                        &copy 2024 Derechos Reservados
                    </div>
                </div>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
