<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org"
       xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="layout/fragmentos :: headlinks">
        <title>LibraryID</title>
        <meta charset="UTF-8"/>
    </head>
    <body style="background: linear-gradient( rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));">
        <header th:replace="layout/fragmentos :: header"></header>
        <section th:replace="layoutPrestamo/botonAgregarPrestamo :: botonAgregarPrestamo"></section>
        <section th:replace="layoutPrestamo/listadoPrestamos :: listadoPrestamos"></section>
        <footer th:replace="layout/fragmentos :: footer"></footer>
    </body>
</html>
