<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Botones Agregar Autor</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <section th:fragment="botonesAgregarAutor">
            <div id="actions" class="py-4 mb-4 bg-light mt-3">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-3">
                            <a th:href="@{/listadoAutores}" class="btn btn-outline-secondary btn-block">
                                <i class="fas fa-arrow-left"></i> Atras
                            </a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-outline-success btn-block">
                                <i class="fas fa-check"></i>  Guardar
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
